@use "../../../presets" as *;
@use "../../../mixins" as *;

.clients {
   padding: 50px 0px;

   &__items {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
   }

   &__item {
      padding: 8px 15px;
      flex: 0 1 16.6667%;
      text-align: center;
      min-width: 140px;

      img {
         max-width: 100%;
      }
   }
}