/* ul */
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  /* color: #252b42; */
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  color: #252b42;
  background: #fafafa;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

._container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.page__services {
  margin: -111px 0 0 0;
  position: relative;
  z-index: 1;
}
.page____clients:not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.header {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 104px;
}
.header__logo {
  color: inherit;
  font-size: 24px;
  font-weight: 700;
}
.header__menu {
  margin: 0 0 0 130px;
}

.menu {
  padding: 5px 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__item:not(:last-child) {
  margin: 0 21px 0 0;
}
.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: 171.428571%;
  /* 24/14 */
}
.menu__link:hover {
  text-decoration: underline;
}

.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}
.header-block__title {
  /* 57/40 */
  font-size: 40px;
  font-weight: 700;
  line-height: 142.5%;
}
.header-block__title:not(:last-child) {
  margin: 0 0 10px 0;
}
.header-block__sub-title {
  /* 57/40 */
  color: #737373;
  line-height: 142.5%;
}

.advantages {
  padding: 80px 0;
}
.advantages__header {
  margin: 0 0 50px 0;
}
.advantages__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px -30px;
}
.advantages__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 0 30px 0;
  padding: 0 15px;
}
.advantages__item {
  padding: 30px;
  text-align: center;
  background-color: #ffffff;
  font-weight: 700;
}
.advantages__item > *:not(:last-child) {
  margin: 0 0 10px 0;
}
.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
}
.advantages__value {
  font-size: 40px;
  line-height: 142.5%;
  /* 57/40 */
}
.advantages__text {
  /* 24/16 */
  letter-spacing: 0.1px;
  color: #737373;
  font-size: 16px;
  line-height: 150%;
}

.clients {
  padding: 50px 0;
}
.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.clients__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6667%;
          flex: 0 1 16.6667%;
  min-width: 140px;
  padding: 8px 15px;
  text-align: center;
}
.clients__item img {
  max-width: 100%;
}

.contact {
  padding: 40px 0;
  background-color: #ffffff;
}
.contact__content {
  padding: 0 0 20px 0;
}
.contact__title {
  /* 32/24 */
  letter-spacing: 0.1px;
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333333%;
}
.contact__title:not(:last-child) {
  margin-bottom: 10px;
}
.contact__text {
  /* 20/14 */
  letter-spacing: 0.2px;
  color: #737373;
  font-weight: 500;
  line-height: 142.857143%;
  margin-bottom: 10px;
}
.contact__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 58px;
  padding: 15px 40px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  text-align: center;
  /* 28/14 */
  letter-spacing: 0.2px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #ff7b47;
  font-weight: 700;
  line-height: 200%;
}
.contact__button:hover {
  background-color: #cf5323;
}

.getintouch {
  padding: 80px 0 135px 0;
}
.getintouch__header {
  margin: 0 0 80px 0;
}
.getintouch__items {
  margin: 0 -15px;
}
.getintouch__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.item-getintouch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 15px;
  background: #ffffff;
}
.item-getintouch_active {
  padding: 80px 15px;
  color: #ffffff;
  background: #252b42;
}
.item-getintouch_active .item-getintouch__button {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.item-getintouch__emails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-getintouch__email {
  /* 24/14 */
  color: inherit;
  font-weight: 600;
  line-height: 171.428571%;
}
.item-getintouch__email:hover {
  text-decoration: underline;
}
.item-getintouch__label {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  /* 24/16 */
}
.item-getintouch__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 44px;
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
  /* 24/14 */
  color: #ff7b47;
  border: 1px solid #ff7b47;
  border-radius: 5px;
  font-weight: 600;
  line-height: 171.428571%;
}
.item-getintouch__button:hover {
  color: #ffffff;
  background-color: #ff7b47;
}
.item-getintouch > *:not(:last-child) {
  margin: 0 0 15px 0;
}

.main-block {
  position: relative;
}
.main-block__body {
  position: relative;
  z-index: 2;
  max-width: 400px;
  padding: 184px 0 191px 0;
}
.main-block__body > *:not(:last-child) {
  margin-bottom: 35px;
}
.main-block__title {
  letter-spacing: 0.2px;
  font-size: 58px;
  /* 80/58 */
  font-weight: 800;
  line-height: 137.931034%;
}
.main-block__text {
  color: #737373;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}
.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 48px;
  margin: 10px 0;
  /* 28/14 */
  padding: 5px 36px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  text-align: center;
  letter-spacing: 0.2px;
  border-radius: 37px;
  font-weight: 700;
  line-height: 150%;
}
.main-block__button_orange {
  color: #ffffff;
  background: #ff7b47;
}
.main-block__button_orange:hover {
  color: #ff7b47;
  background: #ffffff;
}
.main-block__button_border {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}
.main-block__button_border:hover {
  color: #ffffff;
  background-color: #0d5c63;
}
.main-block__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.practice {
  padding: 125px 0 80px 0;
}
.practice__header {
  margin: 0 0 45px 0;
}
.practice__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px -30px;
}
.practice__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin: 0 0 30px 0;
  padding: 0 20px;
}

.item-practice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: #ffffff;
}
.item-practice__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 30px;
}
.item-practice__link {
  display: inline-block;
}
.item-practice__link:not(:last-child) {
  margin: 0 0 15px 0;
}
.item-practice__link:hover {
  text-decoration: underline;
}
.item-practice__title {
  letter-spacing: 0.1px;
  /* 24/16 */
  color: #252b42;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}
.item-practice__text {
  color: #737373;
  line-height: 142.857143%;
  /* 20/14 */
}
.item-practice__image {
  display: block;
  padding: 0 0 67% 0;
}
.services__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.services__item {
  height: 100%;
  padding: 35px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
}

.item-services > *:not(:last-child) {
  margin: 0 0 10px 0;
}
.item-services_green {
  background-color: #0d5c63;
}
.item-services_green .item-services__title {
  color: #ffffff;
}
.item-services_green .item-services__text {
  color: #ffffff;
}
.item-services__title {
  letter-spacing: 0.1px;
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333333%;
  /* 32/24 */
}
.item-services__text {
  color: #737373;
  line-height: 142.857143%;
  /* 20/14 */
}

.subscribe {
  position: relative;
  padding-bottom: 20px;
}
.subscribe::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 77px;
  content: "";
  background: #252b42;
}
.subscribe_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.subscribe__body {
  position: relative;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 50px;
  border-radius: 2px;
  background: #17213c;
}
.subscribe__title {
  letter-spacing: 0.1px;
  /* 32/24 */
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333333%;
}
.subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 58px;
  padding: 0 20px;
  color: #737373;
  border: 1px solid #e6e6e6;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  background-color: #f9f9f9;
}
.subscribe__input:focus {
  color: #000000;
}
.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 58px;
  padding: 0 22px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
  color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 0 5px 5px 0;
  background: #ff7b47;
}
.subscribe__button:hover {
  background: #a15132;
}

.whoweare {
  padding: 80px 0 130px 0;
  background: #ffffff;
}
.whoweare__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.whoweare__video {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  padding: 0 0 42.25% 0;
}
.whoweare__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.whoweare__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px 0 0 120px;
}
.whoweare__top:not(:last-child) {
  margin: 0 0 50px 0;
}
.whoweare__title {
  letter-spacing: 0.2px;
  font-size: 40px;
  font-weight: 700;
  line-height: 142.5%;
}
.whoweare__title:not(:last-child) {
  margin: 0 0 10px 0;
}
.whoweare__text {
  /* 20/14 */
  color: #737373;
  line-height: 142.857143%;
}
.whoweare__item:not(:last-child) {
  padding: 0 0 30px 0;
}

.whoweare__header {
  margin-bottom: 100px;
}

.item-whoweare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item-whoweare__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
}
.item-whoweare__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 20px;
}
.item-whoweare__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  /* 24/16 */
}
.item-whoweare__title:not(:last-child) {
  margin: 0 0 5px 0;
}
.item-whoweare__text {
  /* 20/14 */
  color: #737373;
  line-height: 142.857143%;
}

.footer__top {
  padding: 35px 0;
  background-color: #17213c;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6667%;
          flex: 0 1 16.6667%;
  padding: 15px 15px;
}
.footer__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.334%;
          flex: 0 1 33.334%;
}
.footer__label {
  margin-bottom: 20px;
  /* 24/16 */
  letter-spacing: 0.1px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__bottom {
  padding: 25px 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__copy {
  /* 24/14 */
  letter-spacing: 0.2px;
  font-weight: 600;
  line-height: 171.428571%;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 10px;
}
.menu-footer__link {
  display: inline-block;
  color: #ffffff;
  font-weight: 600;
  line-height: 171.428571%;
  /* 24/14 */
}
.menu-footer__link:hover {
  text-decoration: underline;
}

.contacts-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px;
  padding: 0 0 0 34px;
  /* 24/14 */
  letter-spacing: 0.2px;
  color: #ffffff;
  font-weight: 600;
  line-height: 171.428571%;
}
.contacts-footer__item:not(:last-child) {
  margin: 0 0 12px 0;
}
.contacts-footer__item:hover {
  text-decoration: underline;
}
.contacts-footer__item_phone {
  background: url("../img/footer/icons/01.svg") 0 0 no-repeat;
}
.contacts-footer__item_map {
  background: url("../img/footer/icons/02.svg") 0 0 no-repeat;
}
.contacts-footer__item_email {
  background: url("../img/footer/icons/03.svg") 0 0 no-repeat;
}

.social__item:not(:last-child) {
  margin: 0 20px 0 0;
}

@media (min-width: 479px) {
  .main-block__buttons {
    gap: 10px;
  }
}

@media (min-width: 670px) {
  .services__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -15px;
  }
  .services__column {
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .contact__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 810px) {
  .subscribe__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .subscribe__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .subscribe__title {
    max-width: 266px;
  }
}

@media (min-width: 992px) {
  .getintouch__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0 30px;
  }
}

@media (max-width: 1339.8px) {
  .main-block img {
    -o-object-position: right;
       object-position: right;
  }
}

@media (max-width: 1080px) {
  .whoweare__content {
    padding: 0 0 0 50px;
  }
}

@media (max-width: 1040px) {
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 1035px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 991.8px) {
  .header-block__title {
    font-size: 35px;
  }
  .advantages {
    padding: 50px 0;
  }
  .getintouch {
    padding: 50px 0;
  }
  .getintouch__header {
    margin: 0 0 50px 0;
  }
  .item-getintouch_active {
    padding: 50px 15px;
  }
  .main-block__body {
    padding: 120px 0 191px 0;
  }
  .main-block__title {
    font-size: 42px;
  }
  .main-block__image {
    opacity: 0.5;
  }
  .practice {
    padding: 40px 0 80px 0;
  }
  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .services__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .services__column:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
  .footer__column:last-child .footer__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0 50px 0;
  }
  .whoweare__body {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .whoweare__video {
    padding: 0 0 56.25% 0;
  }
  .whoweare__video:not(:last-child) {
    margin: 50px 0 0 0;
  }
  .whoweare__content {
    padding: 0 0 0 0;
  }
  .whoweare__title {
    font-size: 24px;
  }
}

@media (max-width: 810px) {
  .subscribe__body {
    margin: 0 -15px;
    padding: 20px 15px;
  }
  .subscribe__title {
    margin: 0 0 20px 0;
  }
  .subscribe__input {
    padding: 0 15px;
  }
  .subscribe__button {
    padding: 0 15px;
  }
}

@media (max-width: 767.8px) {
  .header__menu {
    margin: 0 0 0 40px;
  }
  .header-block__title {
    font-size: 35px;
  }
  .advantages {
    padding: 50px 0;
  }
  .advantages__header {
    margin: 0 0 25px 0;
  }
  .contact__content {
    padding: 0 20px 0 0;
  }
  .getintouch__header {
    margin: 0 0 30px 0;
  }
  .practice {
    padding: 0 0 40px 0;
  }
  .whoweare {
    padding: 20px 0 0 0;
  }
  .whoweare__video:not(:last-child) {
    margin: 30px 0 0 0;
  }
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__copy {
    margin: 0 0 15px 0;
    text-align: center;
  }
}

@media (max-width: 630px) {
  .practice__header {
    margin: 0 0 25px 0;
  }
  .practice__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 575.8px) {
  .advantages__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 478.8px) {
  .header__container {
    min-height: 70px;
  }
  .header__menu {
    margin: 0 0 0 20px;
  }
  .menu__link {
    font-size: 16px;
  }
  .main-block__body {
    padding: 115px 0 160px 0;
  }
  .main-block__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
  .services__item {
    padding: 25px;
  }
  .whoweare__header {
    margin-bottom: 60px;
  }
}