@use "../../../presets" as *;
@use "../../../mixins" as *;

.getintouch {
  padding: 80px 0 135px 0;

  @include lg {
    padding: 50px 0;
  }

  &__header {
    margin: 0 0 80px 0;

    @include md {
      margin: 0 0 30px 0;
    }
    @include lg {
      margin: 0 0 50px 0;
    }
  }

  &__items {
    margin: 0 -15px;

    @include lg-min {
      display: flex;
      align-items: center;

      margin: 0;
    }
  }

  &__item {
    flex: 0 1 33.333%;
  }
}

.item-getintouch {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding: 50px 15px;

  background: #ffffff;

  &_active {
    padding: 80px 15px;

    color: #ffffff;
    background: #252b42;

    @include lg {
      padding: 50px 15px;
    }

    .item-getintouch__button {
      color: #ffffff;
      border: 1px solid #ffffff;
    }
  }



  &__emails {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &__email {
    /* 24/14 */
    color: inherit;

    font-weight: 600;
    line-height: 171.428571%;

    &:hover {
      text-decoration: underline;
    }
  }

  &__label {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    /* 24/16 */
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 44px;
    padding: 10px 20px;

    transition: all 0.3s ease 0s;
    text-align: center;
    /* 24/14 */

    color: #ff7b47;
    border: 1px solid #ff7b47;
    border-radius: 5px;

    font-weight: 600;
    line-height: 171.428571%;

    &:hover {
      color: #ffffff;
      background-color: #ff7b47;
    }
  }
  & > *:not(:last-child) {
    margin: 0 0 15px 0;
  }
}
