$color-primary: #2d3651;
$color-accent: #d66926;
$color-highlight: #d53d27;
$color-gray: #637588;
$color-gray-light: #e5e5e5;
$color-gray-dark: #44596e;
$color-light: #ffffff;

// 5  color: #252b42;  
// 10  color: #737373;
// 7  background-color: #ff7b47;
// 1  background-color: #cf5323;
// 4  color: #0d5c63;
// 5  color: #252b42;
// 1  background-color: #f9f9f9;
// 2  background-color: #17213c;

