@use "../../../presets" as *;
@use "../../../mixins" as *;

.whoweare {
  padding: 80px 0 130px 0;

  background: #ffffff;

  @include md {
    padding: 20px 0 0 0;
  }

  @media (max-width: 950px) {
    padding: 50px 0 50px 0;
  }

  &__body {
    display: flex;
    align-items: flex-start;

    @media (max-width: 950px) {
      align-items: stretch;
      flex-direction: column-reverse;
    }
  }

  &__video {
    position: relative;

    flex: 0 0 57%;

    padding: 0 0 42.25% 0;

    @include md {
      &:not(:last-child) {
        margin: 30px 0 0 0;
      }
    }

    @media (max-width: 950px) {
      padding: 0 0 56.25% 0;

      &:not(:last-child) {
        margin: 50px 0 0 0;
      }
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__content {
    flex: 1 1 auto;

    padding: 20px 0 0 120px;

    @media (max-width: 1080px) {
      padding: 0 0 0 50px;
    }

    @media (max-width: 950px) {
      padding: 0 0 0 0;
    }
  }

  &__top {
    &:not(:last-child) {
      margin: 0 0 50px 0;
    }
  }

  &__title {
    letter-spacing: 0.2px;

    font-size: 40px;
    font-weight: 700;
    line-height: 142.5%;

    @media (max-width: 950px) {
      font-size: 24px;
    }

    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
  }

  &__text {
    /* 20/14 */
    color: #737373;

    line-height: 142.857143%;
  }



  &__item {
    &:not(:last-child) {
      padding: 0 0 30px 0;
    }
  }
}

.whoweare {
  &__header {
    margin: 0 0 100px 0;
  }
}

.item-whoweare {
  display: flex;

  &__icon {
    flex: 0 0 32px;
  }

  &__body {
    flex: 1 1 auto;

    padding: 0 0 0 20px;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    /* 24/16 */

    &:not(:last-child) {
      margin: 0 0 5px 0;
    }
  }

  &__text {
    /* 20/14 */
    color: #737373;

    line-height: 142.857143%;
  }
}
