@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  border: 0;
}

a {
  text-decoration: none;
  /* color: #252b42; */
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;

  color: #252b42;
  background: #fafafa;

  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;

  min-height: 100%;
}
